* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", "sans-serif";
  font-size: 15px;
  overflow-x: hidden;
}

.darken {
  -webkit-backdrop-filter: brightness(0.5);
          backdrop-filter: brightness(0.5);
}
.darken img, .darken a, .darken span {
  filter: brightness(0.5);
}

.darken-img {
  filter: brightness(50%);
}

.menu {
  z-index: 1;
  padding: 2em 1em;
  width: 17em;
  min-height: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  background: hsl(0deg, 0%, 100%);
  transition: 300ms;
}
.menu img {
  display: block;
  margin-left: auto;
}
.menu ul {
  margin-top: 4em;
  margin-left: 1em;
  list-style: none;
}
.menu ul li {
  margin: 1.5em 0;
}
.menu ul li a {
  width: 100%;
  text-decoration: none;
  color: hsl(240deg, 100%, 5%);
  font-variation-settings: "wght" 600;
}

.active {
  right: 0;
}

.container {
  margin: 2em;
  max-width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 0.5fr 0.2fr 0.2fr 0.05fr;
  gap: 2em;
  grid-template-areas: "head head head" "figure figure aside" "main article aside" "cont1 cont2 cont3" "footer footer footer";
}

.header {
  grid-area: head;
}

.nav {
  display: flex;
  justify-content: end;
  align-items: center;
}
.nav ul {
  display: flex;
  list-style: none;
}
.nav ul li {
  margin: 0 1em;
  color: hsl(233deg, 8%, 79%);
}
.nav ul li:last-child {
  margin-right: 0;
}
.nav ul li a {
  text-decoration: none;
  color: hsl(236deg, 13%, 42%);
  font-size: 1em;
}
.nav ul li a:hover {
  color: hsl(5deg, 85%, 63%);
}

.menuIcon {
  display: none;
}

.figure {
  grid-area: figure;
  height: 100%;
}
.figure img {
  width: 100%;
  height: 100%;
}
.figure img:last-child {
  display: none;
}

.main {
  grid-area: main;
}

h1 {
  color: hsl(240deg, 100%, 5%);
  font-variation-settings: "wght" 650;
  font-size: 3em;
}

.article {
  grid-area: article;
}
.article p {
  color: hsl(236deg, 13%, 42%);
  font-size: 1em;
  line-height: 1.5em;
}
.article a {
  display: block;
  width: 12em;
  margin-top: 2em;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  background: hsl(5deg, 85%, 63%);
  color: hsl(36deg, 100%, 99%);
}
.article a:hover {
  background: hsl(240deg, 100%, 5%);
}

.aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: hsl(240deg, 100%, 5%);
  padding: 1.5em 1.5em 0 1.5em;
}
.aside span {
  font-size: 2em;
  font-variation-settings: "wght" 700;
  color: hsl(35deg, 77%, 62%);
}
.aside div {
  color: hsl(36deg, 100%, 99%);
  margin: 0.5em 0;
  border-bottom: 1px solid hsl(233deg, 8%, 79%);
}
.aside div a {
  font-size: 0.8em;
  font-variation-settings: "wght" 550;
  text-decoration: none;
  color: hsl(36deg, 100%, 99%);
}
.aside div a:hover {
  color: hsl(35deg, 77%, 62%);
}
.aside div p {
  margin-top: 0.6em;
  margin-bottom: 1em;
  color: hsl(233deg, 8%, 79%);
  line-height: 2em;
}
.aside div:last-child {
  border: none;
}

.content1 {
  grid-area: cont1;
}

.content2 {
  grid-area: cont2;
}

.content3 {
  grid-area: cont3;
}

.news-content {
  display: flex;
}
.news-content img {
  width: 6em;
  height: 8em;
  margin-right: 2em;
}
.news-content div span {
  font-variation-settings: "wght" 500;
  font-size: 2.2em;
  color: hsl(233deg, 8%, 79%);
}
.news-content div h3 {
  font-variation-settings: "wght" 600;
  font-size: 1.3em;
  margin: 0.5em 0;
}
.news-content div a {
  text-decoration: none;
  color: hsl(240deg, 100%, 5%);
}
.news-content div a:hover {
  color: hsl(5deg, 85%, 63%);
}
.news-content div p {
  color: hsl(236deg, 13%, 42%);
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228deg, 45%, 44%);
}

@media (max-width: 1330px) {
  .news-content img {
    height: auto;
  }
}
@media (max-width: 1200px) {
  .aside {
    font-size: 12px;
  }
}
@media (max-width: 950px) {
  .container {
    margin: 2em 0.5em;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "head" "figure" "main" "article" "aside" "cont1" "cont2" "cont3" "footer";
  }
  h1 {
    font-size: 2.5em;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header img {
    width: 3em;
  }
  .nav ul {
    display: none;
  }
  .menuIcon {
    display: block;
  }
  .figure img:first-child {
    display: none;
  }
  .figure img:last-child {
    display: block;
  }
  .aside {
    font-size: 15px;
  }
}/*# sourceMappingURL=style.css.map */